{% extends 'base.html' %}

{% block content %}
  <form action="/repos/" method="GET">
    <div class="form-group">
      <label for="organization">Search Github Repository</label>
      <input id="organization" type="text" name="organization" class="form-control" value="{{ organization }}" placeholder="Eg. Google, Facebook, etc.">
    </div>
    <select name="sort_by" id="sort_by" class="form-control">
      <option value="forks_count">Number of forks</option>
      <option value="stargazers_count">Number of stars</option>
      <option value="contributors_count">Number of contributors</option>
    </select>
    <div class="form-group">
      <input type="submit" value="OK" class="btn btn-primary">
    </div>
  </form>

  {% if error %}
    {{ error }}
  {% endif %}

  {% if data %}
    {% for repo in data %}
      <div class="card">
        <div class="card-header">
          <a href="{{ repo.html_url }}" >{{ repo.full_name }}</a>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Forks: {{ repo.forks_count}}</li>
              <li class="list-group-item">Stars: {{ repo.stargazers_count }}</li>
              <li class="list-group-item">Contributors: {{ repo.contributors_count }}</li>
            </ul>
        </div>
      </div>

    {% endfor %}
  {% endif %}
{% endblock %}

